<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android_note.client">

    <application
        android:name="com.android_note.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main界面 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!-- 扔物线任务 基础自定义view界面 -->
        <activity
            android:name=".custom_view.PracticeViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- rxjava_创建符相关界面 -->
        <activity
            android:name="com.android_note.rxjava_learn.CreateOperatorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- rxjava 转换操作符相关界面 -->
        <activity
            android:name="com.android_note.rxjava_learn.TransformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- rxjava 过滤操作符相关界面 -->
        <activity
            android:name="com.android_note.rxjava_learn.FilterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- rxjava 组合操作符相关界面 -->
        <activity
            android:name="com.android_note.rxjava_learn.CombinationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- 约束布局基础对齐 -->
        <activity
            android:name=".constraint_layout.CommonAlignmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- 约束链式 -->
        <activity
            android:name=".constraint_layout.CommonChainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- 约束布局辅助相关 -->
        <activity
            android:name=".constraint_layout.CommonAuxiliaryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!-- 约束布局 ： 流式链式布局 -->
        <activity
            android:name=".constraint_layout.CommonFlowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!--约束布局：特殊重叠布局-->
        <activity
            android:name=".constraint_layout.CommonOverlapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />

        <!--flexbox伸缩布局-->
        <activity
            android:name=".flex_box.FlexBoxGroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--伸缩布局列表-->
        <activity
            android:name=".flex_box.FlexBoxRecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--fragment_util使用-->
        <activity
            android:name="com.android_note.util_code.fragment_util.FragmentUtilActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--集合相关-->
        <activity
            android:name="com.android_note.util_code.collection_util.CollectionUtilsTest"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--span样式展示-->
        <activity
            android:name="com.android_note.util_code.span_util.SpanUtilActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--补间动画-->
        <activity
            android:name=".animation.view_animation.CommonViewAnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--补间动画popup场景-->
        <activity
            android:name=".animation.view_animation.PopupLayoutAnimActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--帧动画-->
        <activity
            android:name=".animation.drawable_animation.DrawableAnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--属性动画-->
        <activity
            android:name=".animation.property_animation.PropertyAnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--object属性动画-->
        <activity
            android:name=".animation.property_animation.ObjectAnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--value属性动画-->
        <activity
            android:name=".animation.property_animation.ValueAnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--转场动画-->
        <activity
            android:name=".animation.transition_animation.CustomTransitionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--转场动画-->
        <activity
            android:name=".animation.transition_animation.TransitionDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--元素共享，转场动画-->
        <activity
            android:name=".animation.transition_animation.ShareElementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--转场动画库应用-->
        <activity
            android:name=".animation.transition_animation.TransitionEveryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--materail场景动画主界面-->
        <activity
            android:name=".animation.transition_animation.material.TransitionMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--materail 界面切换动画界面1-->
        <activity
            android:name=".animation.transition_animation.material.Transition1Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--materail 界面切换动画界面2-->
        <activity
            android:name=".animation.transition_animation.material.Transition2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--materail 界面切换动画界面3-->
        <activity
            android:name=".animation.transition_animation.material.Transition3Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--materail 元素共享界面-->
        <activity
            android:name=".animation.transition_animation.material.SharedTransitionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--materail view 场景转换动画-->
        <activity
            android:name=".animation.transition_animation.material.MaterialAnimation1Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--线程锁相关-->
        <activity
            android:name=".android_thread.CustomLockActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--开启线程-->
        <activity
            android:name=".android_thread.CustomThreadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--线程间通信-->
        <activity
            android:name=".android_thread.ThreadCommunicationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

        <!--线程同步机制-->
        <activity
            android:name=".android_thread.ThreadSynchronizedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"/>

    </application>

</manifest>